@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.custom-nav-container {
    width: 75%;
    margin: 0 auto;
}

.custom-nav-container .navbar-brand {
    font-size: xx-large;
    font-family: 'Patua One', cursive;
    color: #05386B;
}

.nav-item-custom a {
    font-family: 'Bree Serif', serif;
    color: #05386B;
    font-size: large;
}